@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 150vh;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 70px;
  margin-left: 200px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  font-size: 22px;
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #f0f0f0;
}

tr td {
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
  padding: 10px 12px;
}

input[type="text"] {
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="text"]:hover {
  background-color: #f0f0f0;
}

input[type="text"]:focus {
  outline: none;
  background-color: #fff;
  border-color: #aaa;
}

.sidenavbar {
  margin-top: 0px;
  height: 100%; /* Full-height sidebar */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed sidebar (stay in place on scroll) */
  background-color: rgb(24, 105, 114); /* Purple background color */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  padding-top: 20px; /* Spacing at the top */
}

.sidenavbar a {
  padding: 6px 8px 6px 16px; /* Padding of links */
  text-decoration: none; /* Remove underline from links */
  font-size: 20px; /* Set font size */
  color: white; /* Text color */
  display: block; /* Make links block elements to fill the whole sidebar */
}

.sidenavbar a:hover {
  background-color: #ddd; /* Add a grey background color on hover */
  color: black; /* Text color on hover */
}
